* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

p {
    font-size: 2em;
    line-height: 1.5;
    margin-bottom: 15px;
}

.perovskite-logo {
    width: 40px;
    height: 40px;

    /* filter: grayscale(100%);
    animation: spin 4s linear infinite;
     Establece la animación llamada 'spin' */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        /* La rotación inicial */
    }

    100% {
        transform: rotate(360deg);
        /* La rotación completa (360 grados) */
    }
}


.row {
    display: flex;
    align-items: center;
}

.col {

    flex: 1;
    text-align: center;

}


.first-segment {
    background-image: url('../css/perovskite-background.png');
    background-size: cover;
    /* Ajusta el tamaño de la imagen para cubrir toda la columna */
    background-position: center;
    /* Ajusta la posición de la imagen */
    padding: 20px;
    /* Agrega espacio interno para mejorar la legibilidad */
    /*background-color: #f4f4f4;*/




}

.mainTitle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5vw;
    /* Porcentaje del ancho de la ventana */
    max-font-size: 100px;
    /* Tamaño máximo en píxeles */
    text-align: center;
}

.subtitle {
    font-size: 2vw;
    max-font-size: 100px;
}

.image1 {
    float: right;
    margin-right: 10px;
    width: 100%;
    height: 650px;

}

.perovskite-right {
    max-width: 100%;
    /* Ajusta el ancho máximo según tus necesidades */
    height: auto;
    /* Permite que la altura se ajuste automáticamente para mantener la proporción original */
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: spin 6s linear infinite;
    width: 50%;


}

.perovskite-left {
    max-width: 100%;
    /* Ajusta el ancho máximo según tus necesidades */
    height: auto;
    /* Permite que la altura se ajuste automáticamente para mantener la proporción original */
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: spin 6s linear infinite;
    width: 50%;


}



.btn-learn-more {
    width: 10em;
    height: 2.3em;
    margin: 0.5em;
    background: black;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

button:hover {
    color: black;
}

button:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

button:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}







.second-segment {
    background-color: #5BD3B7;
    color: #f4f4f4;
    text-align: center;
    margin: auto;

}


.p2-segment {
    text-align: justify;
    font-size: 100px;
    margin: 3pc;
}

.image-container {
    overflow: hidden;
    /* Evita que la imagen se salga del contenedor */
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    /* Asegura que la imagen no exceda el ancho del contenedor */

    border-radius: 10px;
    /* Ajusta este valor según sea necesario para obtener puntas redondas */
}

.image2 {
    width: 100%;
    height: 400px;
    /* Para mantener la proporción de aspecto original de la imagen */
    margin: 2pc;
    transition: transform 0.3s ease;
    border-radius: 10%;
    /* Ajusta este valor para obtener puntas redondas */
}

.image2:hover {
    transform: scale(1.2);
    /* Hacemos un zoom del 20% (1.2 veces el tamaño original) al pasar el ratón sobre la imagen */
}



.third-segment {}

.container-pattern {
    width: 100%;
    height: 100%;
    --s: 82px;
    --c1: #b2b2b2;
    --c2: #ffffff;
    --c3: #d9d9d9;

    --_g: var(--c3) 0 120deg, #0000 0;
    background: conic-gradient(from -60deg at 50% calc(100% / 3), var(--_g)),
        conic-gradient(from 120deg at 50% calc(200% / 3), var(--_g)),
        conic-gradient(from 60deg at calc(200% / 3),
            var(--c3) 60deg,
            var(--c2) 0 120deg,
            #0000 0),
        conic-gradient(from 180deg at calc(100% / 3), var(--c1) 60deg, var(--_g)),
        linear-gradient(90deg,
            var(--c1) calc(100% / 6),
            var(--c2) 0 50%,
            var(--c1) 0 calc(500% / 6),
            var(--c2) 0);
    background-size: calc(1.732 * var(--s)) var(--s);
}



.map-container {
    background-color: #F878CD;
    /* Color rosa para el fondo */
    padding: 10px;
    /* Ajusta el relleno según tus necesidades */
    border-radius: 15px;
    /* Ajusta el radio de borde según tus necesidades */
    width: 80%;
    height: auto;
    margin: 3pc;
}

.map {

    width: 95%;
    height: 35pc;

}

.google-maps {
    width: 50px;
    height: 50px;
    transition: transform 0.2s ease-in-out;
}

.google-maps:hover {
    transform: translateX(20px);
}




.fourth-segment {
    background-color: #0B6380;
    display: flex;    
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: auto;
}


.card {
width: 325px;
background-color: #f0f0f0;
border-radius: 8px;
overflow: hidden;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
margin: 20px;
}

.card img {
    width: 100%;
    height: 250px;    
}

.card-content {
    padding: 16px;
    text-align: center;
}

.card-content h3 {
    font-size: 20px;
    margin-bottom: 8px;
}

.card-content p {
    color: #2e2e2e;
    font-size: 20px;
    line-height: 1.5;
}









.fifth-segment {
    background-color: #f4f4f4;

}

.email {
    color: #3498db;
    /* Color del texto */
    font-size: 3.3em;
    /* Tamaño de la letra */
    font-weight: bold;
    /* Peso de la letra (negrita) */
    letter-spacing: 2px;
    /* Espaciado entre letras */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Sombra del texto */
    max-width: 100%; /* Establece un ancho máximo del 100% de su contenedor */
    box-sizing: border-box; /* Incluye el padding y border en el ancho total */
    overflow: hidden; /* Evita que el texto sobresalga de la columna */
    margin-bottom: 1em;
}

/* Estilos para pantallas más pequeñas (ajusta según sea necesario) */
@media only screen and (max-width: 768px) {
    .email {
      font-size: 24px;
    }
  }
  
  /* Estilos para pantallas aún más pequeñas (ajusta según sea necesario) */
  @media only screen and (max-width: 480px) {
    .email {
      font-size: 20px;
    }
  }



.subscribe {
    max-width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
}

.form {

    max-width: 100%;
    height: auto;
    max-height: 250px;
    display: flex;
    margin: auto;
    animation: sacudida 0.5s ease-in-out infinite;
}



@keyframes sacudida {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }
}







.sixth-segment {
    background-color: #f8c954;
    margin: auto;
}

.image-container2 {
    background-color: #f8c954;
}

.networks {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    
}



.labo {
    display: flex;
  }
  
  
  .labo img {
    max-width: 100%;
    height: auto;
  }
  
  



  .labo2 {
    display: flex;
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  
  .labo2 img {
    width: 0px;
    max-height: 350px;
    flex-grow: 1;
    object-fit: cover;    
    transition: .5s ease;
  }
  
  .labo2 img:hover {
    cursor: crosshair;
    width: 400px;    
    filter: contrast(120%);
  }